#about{
   margin-top: 800px;
   cursor: auto;
   margin-bottom: 600px !important;
}

#about .about_header{
     p{
        margin-top: 100px;
        color: #fff;
        font-size: 30px;
        font-family: 'Comic Neue', cursive;
        letter-spacing: 2px;
        text-align: center;
     }
}

@media (max-width: 980px){
    #about .about_header{
        p{
             margin-top: 400px;
        }
   }   
}



#about .about_me_image img{
    width: 100%;
    max-width: 600px;
    height: auto;
    position: absolute;
    margin-top: 50px;
    z-index: 1 !important;
    opacity: 0.8;
    filter: brightness(60%);
}

#about .text_in_photo{
    position: absolute !important;
    z-index: 1 !important;
    margin-left: 40%;
    margin-top: 250px;
    background-color: rgba(30, 140, 160, 0.2);
    border: 1px solid rgba(97, 255, 246, 0.7);
    box-shadow: 0 0 10px rgba(97, 255, 246, 0.2);
    max-width: 40%;

    
      p{
          padding: 12px;
          color: #fff;
          font-size: 15px;
          text-decoration: none;
          font-family: 'Comic Neue';
          letter-spacing: 2px;
          text-align: justify;


      }

}
@media (min-width: 981px) and (max-width: 1980px){
    #about .text_in_photo p{
        display: block;
    }
    #about .text_in_photo{
         position: static;
         margin-top: 280px;
         margin-bottom: 80px;
         transform: none;
         max-width: 100%;
         width: 600px;
         margin-left: 430px;
    }
}

@media (max-width: 980px){
    #about .text_in_photo p{
        display: block;
    }
    #about .text_in_photo{
         position: static;
         margin-left: auto;
         margin-right: auto;
         margin-top: 340px;
         margin-bottom: 80px;
         transform: none;
         max-width: 100%;
         width: 600px;
    }
}
