#about{
    margin-top: 400px;
    display: flex;

    .me_photo{
        flex-direction: row;
        img{
           width: 400px;
           z-index: 1;
           margin: 0 auto;
           padding: 0;
           filter: brightness(60%);
        }
    }
    .text_photo {
        flex-direction: row;
        padding: 30px;
         p{
            color: white;
            font-family: 'Montserrat', sans-serif;
            font-size: 21px;
            padding: 30px;
            margin-top: 150px;
            margin-right: 25%;
            
        }

        .half-circle{
            img{
                position: absolute;
                width: 320px;
                height: 320px;
                z-index: 1;
                margin-top: -250px;
                margin-left: 180px;
                opacity: 0.2;
                transform: rotateZ(25deg);
            }
        }
    }
}


/* MEDIA QUERIES */ 
@media (max-width: 805px){
    #about{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        .me_photo{
            display: flex;
            align-items: center;
            justify-content: center;
                  img{
                    width: 400px;
                    z-index: 1;
                    margin: 0 auto;
                    padding: 0;
                    filter: brightness(60%);
                  }
        }
        .text_photo {
             p{
                justify-content: center;
                font-size: 22px;
                margin: 0 auto;
                font-family: 'Montserrat', sans-serif;
            }
    
        }
    }
}
@media (max-width: 970px){
    .half-circle img {
        display: none;
    }
}