.copy-right_text {
    padding-bottom: 15px;
    background: rgb(15, 15, 15);
    text-align: center;
  }
  
  .copy-right_text .footer_border {
    padding-bottom: 15px;
  }
  
  .copy-right_text .copy_right {
    font-size: 13px;
    color: #C7C7C7;
    margin-bottom: 0;
    font-weight: 400;
  }
  
  @media (max-width: 767px) {
    .copy-right_text .copy_right {
      font-size: 13px;
      text-align: center;
    }
  }
  