#typed_info{
    color: #fff;
    text-align: center;
    font-size: 35px;
    font-family: 'Comic Neue';
   
      p.first_text{
          margin-top: 150px !important;
          letter-spacing: 4px;
      }
      p.second_text{
          margin-top: -20px !important;
          letter-spacing: 3px;
          font-size: 24px;
          font-family: 'Comic Neue';
      }
}
@media (max-width: 767px){
    #typed_info{
        margin: 0 auto;
    }
}