#span {
  border-left: 2px solid #000;
  height: 200%;
  width: 0;
  position: absolute;
  background: transparent;
  margin-left: 25%;
  opacity: 0.2;
}

#span2 {
  border-left: 2px solid black;
  height: 200%;
  width: 0;
  position: absolute;
  background: transparent;
  margin-left: 75%;
  opacity: 0.2;
}
