#span{
    border-left: 2px solid #000;
    height: 100%;
    width: 0;
    position: absolute;
    background: transparent;
    margin-left: 25%;
    opacity: 0.3;
}
#span2{
    border-left: 1px solid black;
    height: 100%;
    width: 0;
    position: absolute;
    background: transparent;
    margin-left: 75%;
    opacity: 0.3;
}