@import '_verticallines.scss';
@import '_iconsonbg.scss';
@import '_navbar.scss';
@import '_typed.scss';
@import '_buttontop.scss';
@import '_about.scss';
@import '_skills.scss';
@import '_portfolio.scss';
@import '_contact.scss';


html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(6, 6, 6);
}
