@import '_verticallines.scss';
@import '_iconsonbg.scss';
@import '_navbar.scss';
@import '_typed.scss';
@import '_buttontop.scss';


*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(6, 6, 6);
    overflow: hidden;
}
